:root {
  --color-bg: #ffffff;
  --color-text: rgba(236, 232, 232, 0.954);
  --color-primary: #210f38;
  --color-secondary: #945bdf;
  --color-error: #cf6679;
  --color-on-primary: #000000;
  --color-on-secondary: #000000;
  --color-on-error: #000000;
  --color-on-surface: #ffffff;
  --font-family: 'Arial, sans-serif';
}

body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}



